* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #85b394;
    width: 100%;
    height: 48px;
}

header nav ul li {
    list-style-type: none;
    float: left;
}

header nav ul li a {
    text-decoration: none;
    padding: 15px 15px 15px 20px;
    display: inline-block;
    color: #000000;
}

header nav ul li a:hover {
    background-color: #34502b;
    color: rgb(255, 255, 255);
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.conteiner {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

input[type="text"] {
    background-color: #f9f9f9;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e600ff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #5b0480;
}
